---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Faq from "@components/faq.astro";
import ComparePricing from "@components/compare-pricing.astro";

const pricing = [
  {
    name: "Basic",
    price: "0",
    desc: "Free forever, for teams and startups beginning their experience journey.",
    color: "indigo",
    popular: false,
    features: [
      "Performance Dashboard",
      "Create & Measure Content",
      "Track 1,000 Actions/month",
      "7-Day Data Insights",
      "Simplified Management Tools",
      "1GB Secure Storage",
      "Team Collaboration (15 members)",
      "Basic Integration Tools",
      "Chatbot for Quick Insights",
    ],
    button: {
      text: "Contact Sales",
      link: "/contact",
    },
  },
  {
    name: "Premium",
    price: "29",
    desc: "Per user, for teams dedicated to optimizing their experiences.",
    popular: true,
    color: "orange",
    features: [
      "All Basic Benefits",
      "Detailed Analytics Suite",
      "Unlimited Experience Tracking",
      "Public/Private Content Flexibility",
      "100GB Storage",
      "Advanced Management Features",
      "Automation & Workflow Tools",
      "Premium Integrations",
      "Chatbot with External Integrations"
    ],
    button: {
      text: "Contact Sales",
      link: "/contact",
    },
  },
  {
    name: "Business",
    price: "39",
    desc: "Per user, for enterprises aiming to lead and innovate experiences.",
    popular: false,
    color: "purple",
    features: [
      "All Premium Features",
      "Custom Performance Dashboard",
      "Predictive Analytics Suite",
      "AI-Powered Recommendations",
      "AI-Driven Smart Automations",
      "Advanced Data Security",
      "Custom Automation & Workflows", 
      "Exclusive Integration Suite",
      "Chatbot with Predictive Insights",
    ],
    button: {
      text: "Contact Sales",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Enjoy full access to our comprehensive all-in-one app suite. 
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
    <ComparePricing />
    <Faq />
  </Container>
</Layout>
