---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const faq = [
  {
    question: "What is Empress's platform about?",
    answer:
      "Empress's platform is designed to help businesses design, track, and optimize every experience. With a suite of advanced tools and features, we empower businesses to enhance user experiences and strengthen their journey."
  },
  {
    question: "How does Empress's billing work?",
    answer:
      "Empress provides various billing options, from monthly subscriptions to tailor-made plans for enterprises. Payments can be processed through credit card or other recognized online payment methods."
  },
  {
    question: "Can I get a refund for my Empress subscription?",
    answer:
      "Yes, Empress offers a 30-day money-back guarantee for our subscription plans. If, within the first 30 days, our services don't meet your expectations, you can request a full refund. Subscriptions active for more than 30 days are subject to refund evaluations on a case-by-case basis."
  },
  {
    question: "How do I cancel my Empress subscription?",
    answer:
      "To terminate your subscription with Empress, log into your account and proceed to the subscription management section. There, you can cancel your ongoing subscription and prevent future billings."
  },
  {
    question: "Is there a free option to try out Empress?",
    answer:
      "Absolutely! Empress provides a 'Basic' plan that's free forever, making it perfect for teams and startups at the onset of their experience journey. This plan offers a variety of features, as detailed in our pricing table."
  },
  {
    question: "Where can I find detailed information about features?",
    answer:
      "Every plan comes with a comprehensive list of features. You can refer to our 'Compare Plans' table for an overview. For more intricate details or specific use-case scenarios, don’t hesitate to contact our support team."
  },
  {
    question: "How can I reach out to Empress support?",
    answer:
      "For any queries or support regarding our platform, connect with our dedicated support team either through chat, the contact form on our website or by emailing support@empress.com."
  },
  {
    question: "Do you have any ongoing promotions or discounts?",
    answer:
      "Empress occasionally offers promotions and special deals. To stay in the loop about our latest offers, consider subscribing to our newsletter or following us on our official social media platforms."
  },
  {
    question: "How does Empress stand out from competitors?",
    answer:
      "Empress focuses on delivering a seamless and intuitive experience optimization platform. Our solutions cater to a diverse range of business needs, from startups to established enterprises. We pride ourselves on offering competitive pricing along with an exhaustive feature set, ensuring our users receive unparalleled value."
  },
  {
    question: "How can I get more details about the Enterprise plan?",
    answer:
      "Our 'Enterprise' plan is customized to align with individual business requirements. For detailed discussions and customizations to fit your needs, you can reach out to us directly through the 'Contact Us' option or initiate the 'Get Started' process under the Enterprise plan."
  },
];
---

<Container>
  <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequenty asked questions</Fragment>
  </Sectionhead>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {
      faq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span> {item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))
    }
  </div>
</Container>
