---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import FeatureImg8 from "../assets/features/8.png";
import ServerAnalysis from "../assets/features/server-analysis.png";
import Outsourcing from "../assets/features/outsourcing-software-development-service-web-page.png";
import ContentCreation from "../assets/features/content-blog.png";
import AnalyticalAI from "../assets/features/analytical-ai.png";
import Card from "@components/card.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

const { nomargin } = Astro.props;
---


<div
  class:list={[
    "max-w-4xl mx-auto flex flex-col items-center justify-center",
    !nomargin && "mt-24",
  ]}>
  <Badge color="purple">Welcome to Empress</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    Your Business Fully Connected
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    Enhance engagement, minimize inefficiencies, and streamline your business with our all-in-one platform. With Empress, create, manage, and constantly innovate for impactful business growth.
  </p>
</div>

  <div class="grid md:grid-cols-2 py-10">
    <div class="">
      <LottieAnimation 
        id="lottie" 
        src="../../business-technology.json" 
        autoplay="visible" 
        style={{ width: '100%', height: 'auto' }}
      />
    </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="purple" class="-ml-px">All-In-One Platform</Badge>
      <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
        Instant Access to an Entire Business Tool Suite
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Enhance your company's performance, from strategic planning and real-time analytics to operational excellence, ensuring a seamless progression from concept to execution.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">End-to-End Business Suite</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Real-time Interaction Monitoring & Analytics</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Seamless Integration & Scalability</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-6">
        <Link href="/contact" size="sm" class="inline-flex items-center group gap-px">
          <span>Get Started</span>
          <svg
            xmlns="https://app.empress.eco/admin/login"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
        <a
          href="/pricing"
          class="text-sm px-2 transition py-1 text-slate-600 hover:text-brand focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
          View Pricing</a
        >
      </div>
    </div>
  </div>

</div>
</div>



<div class="grid md:grid-cols-2 py-10">


<div class="grid place-items-center">
  <div class="max-w-lg">
    <Badge color="purple" class="-ml-px">Data-Driven Insights</Badge>
    <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
      Gain Actionable Business Insights with Intuitive Dashboards
    </h3>
    <p class="mt-4 text-slate-600 [text-wrap:balance]">
      Drive informed decision-making with advanced insights. Our platform transforms complex data into actionable intelligence, enabling a strategic approach to business challenges.
    </p>

    <ul class="grid mt-6 text-left gap-y-4">
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-sm">Advanced predictive analytics</span>
      </li>

      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-sm">Real-time user engagement insights</span>
      </li>

      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-sm">Streamlined performance dashboards</span>
      </li>
    </ul>
    <div class="flex items-center gap-4 mt-6">
      <Link href="/contact" size="sm" class="inline-flex items-center group gap-px">
        <span>Get Started</span>
        <svg
          xmlns="https://app.empress.eco/admin/login"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
      <a
        href="/pricing"
        class="text-sm px-2 transition py-1 text-slate-600 hover:text-brand focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
        View Pricing</a
      >
    </div>
  </div>
</div>

<div class="">
  <LottieAnimation 
    id="lottie" 
    src="../../candlestick-analysis.json" 
    autoplay="visible" 
    style={{ width: '100%', height: 'auto' }}
  />
</div>

</div>

<div class="grid md:grid-cols-2 py-10">
  <!-- Lottie Animation Section (Moved to the right) -->
  <div class="">
    <LottieAnimation id="lottie-2" src="../../auto-chat.json" autoplay="visible" style="width: 100%; height: auto;"/>
  </div>
<!-- Text Section (Moved to the left) -->
<div class="grid place-items-center">
  <div class="max-w-lg">
    <Badge color="purple" class="-ml-px">AI-Enhanced Performance</Badge>
    <h3 class="text-3xl font-bold mt-4 [text-wrap:balance]">
      Redefine Efficiency with Intelligence & Automation
    </h3>
    <p class="mt-4 text-slate-600 [text-wrap:balance]">
      Our AI-Driven platform empowers you to anticipate user needs, customize interactions, and enhance experiences with real-time precision.
    </p>
    <ul class="grid mt-6 text-left gap-y-4">
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />
        <span class="text-sm">Intuitive AI Chat Experiences</span>
      </li>
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />
        <span class="text-sm">Predictive Engagement Strategies</span>
      </li>
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />
        <span class="text-sm">Tailored AI-Assisted Interactions</span>
      </li>
    </ul>
    <div class="flex items-center gap-4 mt-6">
      <Link href="/contact" size="sm" class="inline-flex items-center group gap-px">
        <span>Get Started</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </Link>
      <a
        href="/pricing"
        class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full"
        >View Pricing</a>
    </div>
  </div>
</div>




</div>
</div>
</div>
