---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import FeatureImg1 from "../assets/features/6.png";
import FeatureImg2 from "../assets/features/2.png";
import FeatureImg8 from "../assets/features/8.png";
import ServerAnalysis from "../assets/features/server-analysis.png";
import Outsourcing from "../assets/features/outsourcing-software-development-service-web-page.png";
import ContentCreation from "../assets/features/content-blog.png";
import AnalyticalAI from "../assets/features/analytical-ai.png";
import Card from "@components/card.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

import Appointments from "../assets/apps/appointments.svg";

const { nomargin } = Astro.props;

const Apps = [
  {
    name: "Sales",
    description: "Drive Customer Growth",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Marketing",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Websites",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Services",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Finance",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Human Resources",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Inventory",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
  {
    name: "Projects",
    description: "",
    icon: Appointments,  // Replace "Slack" with the appropriate icon name if different
    link: "/contact",
  },
];

const features = [
{
    "title": "Build",
    "description": "Establish Your Brand",
    "icon": "fluent:phone-24-regular",
    "link": "/app/build"
  },
  {
    "title": "Sell",
    "description": "Close More Deals",
    "icon": "fluent:contact-card-24-regular",
    "link": "/app/sell"
  },
  {
    "title": "Market",
    "description": "Amplify Your Reach",
    "icon": "fluent:heart-24-regular",
    "link": "/app/market"
  },
  {
    "title": "Support",
    "description": "Streamline Your Service",
    "icon": "fluent:service-bell-24-regular",
    "link": "/app/support"
  },
  {
    "title": "Manage",
    "description": "Optimize Your Workflow",
    "icon": "fluent:clipboard-task-24-regular",
    "link": "/app/manage"
  },
  {
    "title": "Finance",
    "description": "Simplify Your Finances",
    "icon": "fluent:payment-24-regular",
    "link": "/app/finance"
  },
  {
    "title": "Staff",
    "description": "Manage Your Team",
    "icon": "fluent:people-team-24-regular",
    "link": "/app/staff"
  },
  {
    "title": "Produce",
    "description": "Track Your Inventory",
    "icon": "fluent:box-24-regular",
    "link": "/app/produce"
  }
];

---

<div>
  <div
  class:list={[
    "max-w-4xl mx-auto flex flex-col items-center justify-center",
    !nomargin && "mt-24",
  ]}>
  <Badge color="purple">Welcome to Empress</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    The Launchpad for <span class="text-indigo-600">Business Growth</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    All the essentials bundled into one incredible deal.
  </p>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-8 md:gap-10">
  {
    features.map((item) => (
      <div class="flex flex-col items-center group hover:bg-slate-50 hover:shadow-lg rounded-lg transition-all p-6 text-center shadow-lg bg-white">
        <div class="bg-indigo-50 border shadow-sm border-indigo-100 transition-colors rounded-lg grid place-items-center p-4 mb-5 w-16 h-16 shrink-0">
          <Icon class="text-indigo-500" name={item.icon} size="32" />
        </div>
        <h3 class="font-semibold text-lg text-gray-900">{item.title}</h3>
        <p class="text-slate-500 mt-2 text-base leading-relaxed">{item.description}</p>
        <a href={item.link} class="mt-6 inline-block w-full px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150" style="box-shadow: 0 4px 6px rgba(90, 49, 196, 0.25);">
          Learn More
        </a>
      </div>
    ))
  }
</div>


</div>

<div class="grid md:grid-cols-2 py-10"></div>
<!-- 
<div class="flex justify-center items-center">
  <Link href="/apps" size="sm" class="inline-flex items-center justify-center group gap-px">
    <span>View All Applications</span>
    <svg
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
      <path
        fill-rule="evenodd"
        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
        clip-rule="evenodd"></path>
    </svg>
  </Link>
</div> -->

  <div class="grid md:grid-cols-2 py-10">
    <div class="">
      <LottieAnimation 
        id="lottie" 
        src="../../business-technology.json" 
        autoplay="visible" 
        style={{ width: '100%', height: 'auto' }}
      />
    </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="purple" class="-ml-px">All-In-One Platform</Badge>
      <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
        Affordable Monthly Rates. One Simple Subscription.
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Elevate your company's performance with our business apps and all-in-one tool suite, ensuring operational excellence for a smooth journey from concept to execution.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Complete Toolkit for Every Business Need</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Streamlined Management in One Unified Platform</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Effortless Integration & Limitless Growth Potential</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-10">
        <a href="/contact" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
          <span>Get Started</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="/pricing" class="text-base px-6 py-3 transition bg-white text-slate-600 hover:text-slate-700 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-md shadow">
          View Pricing
        </a>
      </div>      
    </div>
  </div>

</div>
</div>



<div class="grid md:grid-cols-2 py-10">


<div class="grid place-items-center">
  <div class="max-w-lg">
    <Badge color="purple" class="-ml-px">Data-Driven Insights</Badge>
    <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
      Focus on Growth – Leave the Details to Us
    </h3>
    <p class="mt-4 text-slate-600 [text-wrap:balance]">
      We simplify your complex data into clear, actionable intelligence, empowering you to tackle business challenges with strategy and confidence.
    </p>

    <ul class="grid mt-6 text-left gap-y-4">
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-sm">Cutting-Edge Predictive Analytics</span>
      </li>

      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-sm">Live Engagement Metrics</span>
      </li>

      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-sm">Sleek, User-Friendly Performance Dashboards</span>
      </li>
    </ul>
    <div class="flex items-center gap-4 mt-10">
      <a href="/contact" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
        <span>Get Started</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <a href="/pricing" class="text-base px-6 py-3 transition bg-white text-slate-600 hover:text-slate-700 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-md shadow">
        View Pricing
      </a>
    </div>  
  </div>
</div>

<div class="">
  <LottieAnimation 
    id="lottie" 
    src="../../market-report.json" 
    autoplay="visible" 
    style={{ width: '100%', height: 'auto' }}
  />
</div>

</div>

<div class="grid md:grid-cols-2 py-10">
  <!-- Lottie Animation Section (Moved to the right) -->
  <div class="">
    <LottieAnimation id="lottie-2" src="../../auto-chat.json" autoplay="visible" style="width: 100%; height: auto;"/>
  </div>
<!-- Text Section (Moved to the left) -->
<div class="grid place-items-center">
  <div class="max-w-lg">
    <Badge color="purple" class="-ml-px">Smart Solutions, Smarter Business</Badge>
    <h3 class="text-4xl font-bold mt-4 [text-wrap:balance]">
      Simplify Your Workflow with AI and Automations
    </h3>
    <p class="mt-4 text-slate-600 [text-wrap:balance]">
      Leverage Empress's AI-driven tools to intuitively understand and meet user expectations, personalizing interactions, and elevating experiences with instant accuracy.
    </p>
    <ul class="grid mt-6 text-left gap-y-4">
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />
        <span class="text-sm">Seamless AI Chat Integrations</span>
      </li>
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />
        <span class="text-sm">Proactive Engagement Tactics</span>
      </li>
      <li class="flex items-center gap-3 text-neutral-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />
        <span class="text-sm">Tailored Workflows and Smart Automations</span>
      </li>
    </ul>
    <div class="flex items-center gap-4 mt-10">
      <a href="/contact" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-normal rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 shadow-md transition ease-in-out duration-150">
        <span>Get Started</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-4 h-4 ml-2 group-hover:translate-x-1 transition-transform">
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <a href="/pricing" class="text-base px-6 py-3 transition bg-white text-slate-600 hover:text-slate-700 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-md shadow">
        View Pricing
      </a>
    </div>  
  </div>
</div>




</div>
</div>
</div>
