---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const featureFaq = [
  {
    question: "What does Empress OS offer for content lifecycle management?",
    answer: "Empress OS provides a unified platform that simplifies the entire content lifecycle from ideation to publication, with tools for centralized editing, approval, and distribution processes."
  },
  {
    question: "How does collaboration work in Empress OS?",
    answer: "Empress OS connects teams for review and collaborative and decision-making, ensuring everyone is aligned and can contribute to projects, thereby accelerating timelines."
  },
  {
    question: "Can Empress OS's dashboards be customized?",
    answer: "Yes, Empress OS allows you to customize dashboards to track critical project metrics, enabling informed decisions and proactive project management."
  },
  {
    question: "What kind of tasks can I automate with Empress OS?",
    answer: "Empress OS's automation capabilities allow you to manage repetitive tasks such as scheduling, reporting, and other operational processes, helping you to focus on strategic activities."
  },
  {
    question: "What integration capabilities does Empress offer?",
    answer: "Empress integrates with a broad range of applications, services, and platforms, including over 200 tools through Zapier, plus direct integrations with Slack, Intercom, Shopify, Messenger, and Discord."
  },
  {
    question: "How does Empress Chat enhance customer support?",
    answer: "Empress Chat provides 24/7 customer engagement with automated smart bots, multilingual support, and interactive troubleshooting to resolve issues efficiently and offer universal support."
  },
  {
    question: "What insights can Empress Insights provide to my business?",
    answer: "Empress Insights delivers advanced analytics for predictive forecasting, real-time analytics, behavioral insights, and experience mapping to inform decision-making and user experience optimization."
  }
];

---

<Container>
  <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequenty asked questions</Fragment>
  </Sectionhead>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {
      featureFaq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span> {item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))
    }
  </div>
</Container>
