---
import Card from "@components/card.astro";
import Container from "@components/container.astro";
import Review from "@components/review.astro";

const testimonials = [
  {
    name: "Education",
    title: "Empress for Education",
    image: "https://source.unsplash.com/fHXpgMd_XhE",
    text: "Empower learning with Empress. Enhance e-learning experiences, streamline student engagements, and stay ahead in modern education",
  },
  {
    name: "Financial Services",
    title: "Empress for Finance",
    image: "https://source.unsplash.com/jzz_3jWMzHA",
    text: "Navigate the financial realm with Empress. Offer dynamic, secure, and data-driven client engagement with real-time insights.",
  },
  {
    name: "Government",
    title: "Empress for Government",
    image: "https://source.unsplash.com/MZf0mI14RI0",
    text: "Modernize governance with Empress. Boost citizen engagement, streamline processes, and deliver efficient public services.",
  },
  {
    name: "Healthcare",
    title: "Empress for Healthcare",
    image: "https://source.unsplash.com/QEgHL8NN7nM",
    text: "Revolutionize healthcare with Empress. Streamline bookings, consultations, and deliver personalized health advice securely.",
  },
  {
    name: "Manufacturing",
    title: "Empress for Manufacturing",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Innovate manufacturing with Empress. Integrate interactions, elevate efficiency, and enter a future of unmatched innovation.",
  },
  {
    name: "Media",
    title: "Empress for Media",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Reimagine media with Empress. Craft content that resonates, understand viewer needs, and gather actionable insights.",
  },
  {
    name: "Retail",
    title: "Empress for Retail",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Elevate retail with Empress. Design immersive shopping journeys, track customer preferences, and leverage AI for precision recommendations.",
  },
  {
    name: "Empress for Tech",
    title: "Learn more",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Stay ahead in tech with Empress. Streamline processes, harness AI insights, and guarantee users an exceptional experience.",
  },
  {
    name: "Telecommunications",
    title: "Empress for Telecommunications",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Advance telecoms with Empress. Deliver consistent, AI-powered solutions, ensuring dynamic and transformative communication.",
  },
  {
    name: "Transportation",
    title: "Empress for Transportation",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Drive transportation forward with Empress. Engage passengers, offer tailored travel experiences, and ensure seamless operations.",
  },
];
---

<Container>
  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      Industry <span class="text-indigo-600">Solutions</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      Discover how Empress enhances your industry.
    </p>
  </div>
</Container>

<div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-10 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
