---
import Card from "@components/card.astro";
import Container from "@components/container.astro";
import Review from "@components/review.astro";
import IntelligentRobot from "../assets/features/intelligent-robot.svg";
import BusinessCalculation from "../assets/features/business-calculation.svg";
import FactoryBuilding from "../assets/features/factory-building.svg";
import CommunucationSatellite from "../assets/features/communication-satellite.svg";
import BotanyExperiment from "../assets/features/botany-experiment.svg";
import AccountsMonitoringReport from "../assets/features/accounts-monitoring-report.svg";
import Certificate from "../assets/features/certificate.svg";
import Ambulance from "../assets/features/ambulance.svg";
import PoliceStation from "../assets/features/police-station.svg";
import FlyingAirplane from "../assets/features/flying-airplane.svg";
import ShoppingBag from "../assets/features/shopping-bag.svg";
import MegaPhone from "../assets/features/megaphone.svg";


const testimonials = [
  {
    name: "Education",
    title: "Empress for Education",
    image: Certificate,
    text: "Revolutionize e-learning, optimize student interactions, and pioneer in 21st-century education.",
  },
  {
    name: "Financial Services",
    title: "Empress for Finance",
    image: BusinessCalculation,
    text: "Command the financial domain with Empress. Deliver proactive, secured, and insight-driven client relations.",
  },
  {
    name: "Government",
    title: "Empress for Government",
    image: PoliceStation,
    text: "Transform governance using Empress. Amplify citizen connections, simplify operations, and ensure top-tier public services.",
  },
  {
    name: "Healthcare",
    title: "Empress for Healthcare",
    image: Ambulance,
    text: "Usher in a new era of healthcare with Empress. Streamline appointments, consultations, and offer expert health advice safely.",
  },
  {
    name: "Manufacturing",
    title: "Empress for Manufacturing",
    image: FactoryBuilding,
    text: "Propel manufacturing into the future with Empress. Unify interactions, raise efficiency bars, and embrace groundbreaking innovations.",
  },
  {
    name: "Media",
    title: "Empress for Media",
    image: MegaPhone,
    text: "Reshape media with Empress. Craft compelling narratives, intuitively gauge viewer preferences, and secure actionable data points.",
  },
  {
    name: "Retail",
    title: "Empress for Retail",
    image: ShoppingBag,
    text: "Elevate retail with Empress. Design immersive shopping journeys, track customer preferences, and leverage AI for precision recommendations.",
  },
  {
    name: "Technology",
    title: "Empress for Tech",
    image: IntelligentRobot,
    text: "Stay ahead in tech with Empress. Streamline processes, harness AI insights, and guarantee users an exceptional experience.",
  },
  {
    name: "Telecommunications",
    title: "Empress for Telecommunications",
    image: CommunucationSatellite,
    text: "Redefine telecoms with Empress. Guarantee consistent, AI-backed solutions, and foster groundbreaking communication.",
  },
  {
    name: "Transportation",
    title: "Empress for Transportation",
    image: FlyingAirplane,
    text: "Drive the future of mobility with Empress. Engage users, design bespoke travel journeys, and ensure frictionless operations.",
  },
];
---

<Container>
  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      Industry <span class="text-indigo-600">Solutions</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      Experience Excellence Tailored for Every Industry.
    </p>
  </div>
</Container>

<div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-10 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
